@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,400;0,600;0,700;0,800;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;0,600;0,700;0,800;0,900;1,400;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background: #fff;
    margin: 0 auto;
    text-align: center;
}

@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
/* body {
	margin: 0;
	background: #222;
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;
} */

.container {
	width: 80%;
	margin: 0 auto;
}

header {
  background: #55d6aa;
  height: 70px;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 10px 0;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;

  position: relative;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

#title {
    margin-top: 20px;
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 20px;
}

#subtitle {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 20px;
    /* add a line below subtitle */
    padding-bottom: 30px;
    border-bottom: 2px solid #ccc;
}

#category-title {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 15px;
    color: #4CAF50;
    text-transform: uppercase;
}

#fonts {
    border: 1px solid #ccc;
    padding: 40px;
    margin: 40px;
    border-radius: 50px;
}



.fontbox {
    display: inline-block;
    border: 2px solid #4CAF50;
    border-radius: 5px;
    height: 200px;
    padding: 30px;
    margin-top: 30px;
    background-color: #f2f2f2;
    margin-right: 20px;
}

.font-label {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Fonts */

.source-code-pro {
    font-family: 'Source Code Pro';
    font-size: 1.2em;
}

.nunito-sans {
    font-family: 'Nunito Sans';
    font-size: 1.2em;
}

.poppins {
    font-family: 'Poppins';
    font-size: 1.2em;
}


/* Font types */

.regular {
    font-style: normal;
    font-size: 1em;
    font-weight: normal;
    margin-bottom: 15px;
}

.bold {
    font-weight: bold;
    font-size: 1em;
    margin-bottom: 15px;
}

.italic {
    font-style: italic;
    font-size: 1em;
    margin-bottom: 15px;
}

/* colors */
/* style select form */
select {
    display: block;
    margin: 0 auto;
    width: 30%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #f2f2f2;
}

#color-label {
    font-size: 1.3em;
    font-family: 'Nunito Sans';
    font-weight: normal;
    margin-bottom: 25px;
}

#color-title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 20px;
}

#colorful-balanced {
    display: inline-block;
    border: 2px solid #4CAF50;
    border-radius: 5px;
    height: 60%;
    width: 50%;
    padding: 30px;
    margin-top: 30px;
    background-color: #f2f2f2;
    margin-right: 20px;
    margin-bottom: 50px;
}

.color-box {
    display: inline-block;
    border: 2px solid #4CAF50;
    border-radius: 5px;
    height: 60%;
    width: 50%;
    padding: 30px;
    margin-top: 30px;
    margin-right: 20px;
    margin-bottom: 10px;
}


#colorful-balanced .color-box.primary {
    background-color: #e27d60;
    opacity: 100%;
}

#colorful-balanced .color-box.secondary {
    background-color: #85dcba;
    opacity: 100%;
}

#colorful-balanced .color-box.third {
    background-color: #e8a87c;
    opacity: 100%;
}

#colorful-balanced .color-box.fourth {
    background-color: #c38d9e;
    opacity: 100%;
}

#colorful-balanced .color-box.fifth {
    background-color: #41b3a3;
    opacity: 100%;
}

#colorful-balanced .color-box p {
    /* center the text vertically */
    align-items: center;
    padding: 0 auto;
}

#bright-accent {
    display: inline-block;
    border: 2px solid #4CAF50;
    border-radius: 5px;
    height: 60%;
    width: 50%;
    padding: 30px;
    margin-top: 30px;
    background-color: #f2f2f2;
    margin-right: 20px;
    margin-bottom: 50px;
}

#bright-accent .color-box.primary {
    background-color: #242582;
    opacity: 100%;
    color: white;
}

#bright-accent .color-box.secondary {
    background-color: #553d67;
    opacity: 100%;
    color: white;
}

#bright-accent .color-box.third {
    background-color: #f64c72;
    opacity: 100%;
}

#bright-accent .color-box.fourth {
    background-color: #99738e;
    opacity: 100%;
}

#bright-accent .color-box.color-box.fifth {
    background-color: #2f2fa2;
    opacity: 100%;
    color: white;
}

/* COOL AND FRESH */
#cool-and-fresh {
    display: inline-block;
    border: 2px solid #4CAF50;
    border-radius: 5px;
    height: 60%;
    width: 50%;
    padding: 30px;
    margin-top: 30px;
    background-color: #f2f2f2;
    margin-right: 20px;
    margin-bottom: 50px;
}

#cool-and-fresh .color-box.primary {
    background-color: #05386B;
    opacity: 100%;
    color: #fff;
}

#cool-and-fresh .color-box.secondary {
    background-color: #379683;
    opacity: 100%;
}

#cool-and-fresh .color-box.third {
    background-color: #5CDB95;
    opacity: 100%;
}

#cool-and-fresh .color-box.fourth {
    background-color: #8EE4AF;
    opacity: 100%;
}


#cool-and-fresh .color-box.color-box.fifth {
    background-color: #EDF5E1;
    opacity: 100%;
}

/* Audacious and vibrant */
#audacious-and-vibrant {
    display: inline-block;
    border: 2px solid #4CAF50;
    border-radius: 5px;
    height: 60%;
    width: 50%;
    padding: 30px;
    margin-top: 30px;
    background-color: #f2f2f2;
    margin-right: 20px;
    margin-bottom: 50px;
}

#audacious-and-vibrant .color-box.primary {
    background-color: #FC4445;
    opacity: 100%;
}

#audacious-and-vibrant .color-box.color-box.secondary {
    background-color: #3FEEE6;
    opacity: 100%;
}

#audacious-and-vibrant .color-box.color-box.third {
    background-color: #55BCC9;
    opacity: 100%;
}
#audacious-and-vibrant .color-box.color-box.fourth {
    background-color: #97CAEF;
    opacity: 100%;
}
#audacious-and-vibrant .color-box.color-box.fifth {
    background-color: #CAFAFE;
    opacity: 100%;
}






/* CSS */
.button-37 {
  background-color: #13aa52;
  border: 1px solid #13aa52;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  outline: 0;
  width: 300px;
  padding: 10px 25px;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-37:hover {
  box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
  transform: translateY(-2px);
}

@media (min-width: 768px) {
  .button-37 {
    padding: 10px 30px;
  }
}

.show-example {
    display: block;
    margin-top: 40px;
}

.example-img {
    display: inline-block;
    border: 2px solid #4CAF50;
    border-radius: 5px;
    height: 60%;
    width: 60%;
    padding: 30px;
    margin-top: 30px;
    background-color: #f2f2f2;
    margin-right: 20px;
    margin-bottom: 50px;
}

.example-image {
    width: 100%;
}

#borders {
    border: 1px solid #ccc;
    padding: 40px;
    margin: 40px;
    border-radius: 50px;
}

/* Border examples */
.border-example {
    display: inline-block;
    margin-top: 40px;
    margin-right: 20px;
    padding: 50px;
}

.border-example.solid {
    border: 1px solid #4CAF50;
}

.border-example.solid:hover {
    /* set the cursor to pointer */
    cursor: pointer;
}

.border-example.dotted {
    border: 1px dotted #4CAF50;
}
.border-example.dotted:hover {
    /* set the cursor to pointer */
    cursor: pointer;
}

.border-example.dashed {
    border: 1px dashed #4CAF50;
}

.border-example.dashed:hover {
    /* set the cursor to pointer */
    cursor: pointer;
}

.border-example.gradient {
    border: 1px solid transparent;
    border-image: linear-gradient(to right, #4CAF50, blue, yellow);
    border-image-slice: 1;
}

.border-example.gradient:hover {
    /* set the cursor to pointer */
    cursor: pointer;
}

.border-example.rounded {
    border: 1px solid #4CAF50;
    border-radius: 50px;
}
.border-example.rounded:hover {
    /* set the cursor to pointer */
    cursor: pointer;
}

#welcome {
    display: block;
    height: 400px;
    /* background should be a gradient */
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(85,214,170,1) 100%);
}

.home-container h1 {
    text-align: center;
    font-family: sans-serif;
    font-size: 50px;
    font-style: italic;
    padding: 60px;
}

/* modal styling */
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

.page-wrapper {
  width: 100%;
  height: 100%;
  background: url(https://goo.gl/OeVhun) center no-repeat;
  background-size: cover;
}

.blur-it {
  filter: blur(4px);
}

a.btn {
  width: 200px;
  padding: 18px 0;
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  border-radius: 0;
  background: #e2525c;
}

.modal-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0; 
  left: 0;
  background: rgba(41, 171, 164, 0.8);
  visibility: hidden;
  opacity: 0;
  transition: all 0.25s ease-in-out;
}

.modal-wrapper.open {
  opacity: 1;
  visibility: visible;
}

.modal {
  width: 650px;
  height: 600px;
  position: absolute;
  display: block;
  margin: 50% 0 0 -300px;
  /* center the div vertically */
  transform: translate(100%, 50%);
  background: #fff;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.modal-wrapper.open .modal {
  margin-top: -200px;
  opacity: 1;
}

.head { 
  width: 91%;
  height: 32px;
  padding: 12px 30px;
  overflow: hidden;
  background: #4CAF50;
}

.btn-close {
  font-size: 28px;
  display: block;
  float: right;
  color: #fff;
}
.content {
  padding: 5%;
  height: 200px;

}

.good-job {

  text-align: center;
  font-family: 'Montserrat', Arial,       Helvetica, sans-serif;
  color: #4CAF50;
  padding-top: 0;
}
.good-job .fa-thumbs-o-up {
  font-size: 60px;
}
.good-job h1 {
  font-size: 45px;
}

.modal-paragraph {
    overflow: scroll;
    height: 400px;
}